/* =================================================================== */
/* 
/*  Puremedia v1.0 Main Stylesheet
/*  url:styleshout.com
/*  10-10-2014
/*
/*  ------------------------------------------------------------------ 

    TOC: 
    a. Webfonts and Iconfonts
    b. Page Setup
    c. Forms  
    d. Preloader
    e. Buttons
    f. Other Components
    g. Header Styles
    h. Footer Styles
    i. Common and shared styles
    j. Hero
    k. Services
    l. Testimonials
    m. Contact

/* =================================================================== */

/* 
/* theme colors
/* =================================================================== */
/* teal: #59c2c5
/* purple: #B13A7F
/* gray: #EEE9E9
/* white: #FDFDFD
/* yellow: #F8B20A
/* black: #12151b
/* black-hover: #1d222c
/* =================================================================== */

/* 
/* a. Webfonts and Iconfonts
/* =================================================================== */
@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");
@import url("simple-line-icons/simple-line-icons.css");

/* 
/* b. Page Setup
/* =================================================================== */

/* Body
---------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}
body {
  background: #12151b;
  font: 15px/30px "merriweather-regular", serif;
  font-weight: normal;
  color: #252525;
  background: url(../images/testimonials-bg.jpg) no-repeat fixed;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: right top;
  max-width: 1800px;
  margin: auto;
}

/* Links
---------------------------------------------------------------------- */
a,
a:visited {
  color: #59c2c5;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:focus {
  color: #fdfdfd;
}

/* Typography
--------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "raleway-bold", sans-serif;
  color: #252525;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 18px 0 15px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  letter-spacing: -1px;
}
h2 {
  font-size: 24px;
  line-height: 30px;
}
h3 {
  font-size: 20px;
  line-height: 30px;
}
h4 {
  font-size: 17px;
  line-height: 30px;
}
h5 {
  font-size: 14px;
  line-height: 30px;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h6 {
  font-size: 13px;
  line-height: 30px;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
p {
  margin: 15px 0 15px 0;
}
p img {
  margin: 0;
}
p.lead {
  font: 17px/33px "merriweather-light", serif;
  color: #252525;
}
em {
  font: 15px/30px "merriweather-italic", serif;
  font-style: normal;
}
strong,
b {
  font: 15px/30px "merriweather-bold", serif;
  font-weight: normal;
}
small {
  font-size: 11px;
  line-height: inherit;
}
blockquote {
  margin: 18px 0px;
  padding-left: 40px;
  position: relative;
}
blockquote:before {
  content: "\201C";
  opacity: 0.45;
  font-size: 80px;
  line-height: 0px;
  margin: 0;
  font-family: arial, sans-serif;
  position: absolute;
  top: 30px;
  left: 0;
}
blockquote p {
  font-family: georgia, serif;
  font-style: italic;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}
blockquote cite {
  display: block;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
  color: #252525;
  border: none;
}
abbr {
  font-family: "merriweather-bold", serif;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  color: #7d7e80;
}
pre,
code {
  font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code {
  padding: 3px;
  background: #ecf0f1;
  color: #252525;
  border-radius: 3px;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
mark {
  background: #fff49b;
  color: #000;
}
hr {
  border: solid #fdfdfd;
  border-width: 1px 0 0;
  clear: both;
  margin: 23px 0 12px;
  height: 0;
}

/* Lists
--------------------------------------------------------------------- */
ul,
ol {
  margin-top: 15px;
  margin-bottom: 15px;
}
ul {
  list-style: disc;
  margin-left: 17px;
}
dl {
  margin: 0 0 15px 0;
}
dt {
  margin: 0;
  color: #59c2c5;
}
dd {
  margin: 0 0 0 20px;
}

/* Floated Image
--------------------------------------------------------------------- */
img.pull-right {
  margin: 12px 0px 0px 18px;
}
img.pull-left {
  margin: 12px 18px 0px 0px;
}

/* 
/* c. Forms
/* =================================================================== */
form {
  margin-bottom: 24px;
}
fieldset {
  margin: 0 0 24px 0;
  padding: 0;
  border: none;
}
input,
button {
  -webkit-font-smoothing: antialiased;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  display: block;
  padding: 12px 15px;
  margin: 0 0 12px 0;
  border: 0;
  outline: none;
  color: #a3a4a6;
  font-family: "raleway-regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  max-width: 100%;
  background: transparent;
  border: 3px solid #a9aaab;
}
textarea {
  min-height: 162px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  background: #fdfdfd;
}
label,
legend {
  font: 15px/30px "raleway-bold", sans-serif;
  margin: 12px 0;
  color: #252525;
  display: block;
}
label span,
legend span {
  color: #575859;
  font: 15px/30px "merriweather-bold", serif;
}
input[type="checkbox"],
input[type="radio"] {
  font-size: 15px;
  color: #575859;
}
input[type="checkbox"] {
  display: inline;
}

/* 
/* d. Preloader
/* =================================================================== */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #12151b;
  z-index: 99999;
  height: 100%;
}
.no-js #preloader {
  display: none;
}

#status {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  padding: 0;
}
#status img {
  display: none;
}

.loader {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #59c2c5;
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* for ie8 */
.ie8 #status img {
  display: block;
}
.ie8 .loader {
  display: none;
}

/* 
/* e. Buttons
/* =================================================================== */
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font: 15px/30px "raleway-bold", sans-serif;
  padding: 9px 16px;
  margin: 0 3px 6px 0;
  background: #818fab;
  color: #fdfdfd;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  text-align: center;
  border: none;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background: #647495;
  color: #fdfdfd;
}
button.primary {
  background: #59c2c5;
}
button.primary:hover {
  background: #e3520d;
}
button.medium {
  font: 15px/30px "raleway-bold", sans-serif;
  padding: 12px 18px !important;
}
button.large {
  font: 15px/30px "raleway-bold", sans-serif;
  padding: 15px 20px !important;
}
button.round {
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-radius: 1000px;
  background-clip: padding-box;
}
button.stroke {
  background: transparent !important;
  border: 3px solid transparent;
}
button.full-width {
  width: 100%;
  margin-right: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 
/* f. Other Components
/* ================================================================== */

/* Drop Cap
/* ------------------------------------------------------------------ */
.drop-cap:first-letter {
  float: left;
  margin: 0;
  padding: 14px 6px 0 0;
  font-size: 84px;
  font-family: "raleway-bold", sans-serif;
  line-height: 60px;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

/* 
/* Pull Quotes Markup
/*

<aside class="pull-quote">
<blockquote>
<p></p>
</blockquote>
</aside>

/* Pull Quotes style
/* --------------------------------------------------------------------- */
.pull-quote {
  position: relative;
  padding: 18px 30px 18px 0px;
}
.pull-quote:before,
.pull-quote:after {
  height: 1em;
  opacity: 0.45;
  position: absolute;
  font-size: 80px;
  font-family: Arial, Sans-Serif;
}
.pull-quote:before {
  content: "\201C";
  top: 33px;
  left: 0;
}
.pull-quote:after {
  content: "\201D";
  bottom: -33px;
  right: 0;
}
.pull-quote blockquote {
  margin: 0;
}
.pull-quote blockquote:before {
  content: none;
}

/* floated pull quote div
---------------------------------------------------------------------- */
.testimonial-quote-right {
  background-color: #eee9e9;
  padding: 10px 25px 25px 25px;
  margin: 20px;
  text-align: left;
  box-shadow: 2px 2px 5px #687a9d;
}

.testimonial-quote-right .testimonial-source {
  font-family: "raleway-bold", sans-serif;
  text-align: center;
  color: #5b5b5b;
  margin: 0;
  padding: 5px;
}

/* 
/* g. Header Styles
/* =================================================================== */
header {
  height: 72px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 990;
  text-align: center;
  background: #12151b;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

#main-header {
  box-shadow: 0 0 3px #687a9d;
}

header .logo {
  display: inline-block;
  vertical-align: middle;
  margin: 15px 15px 15px 0;
  padding: 0;

  /* add position relative since z-index only applies to
	elements that have been given an explicit position */
  position: relative;
  z-index: 992;
}

header .logo a {
  text-transform: uppercase;
  font-family: "raleway-heavy", sans-serif;
}

header .logo a:hover {
  color: #fdfdfd;
}
.opaque {
  background: #12151b;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap,
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 11px "raleway-heavy", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: inline-block;
  /* height: 100vh; */
}

ul#nav {
  min-height: 72px;
  width: auto;

  /* left align the menu */
  text-align: left;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 72px;
  display: inline-block;
}
ul#nav li a {
  display: inline-block;
  padding: 17px 12px;
  line-height: 38px;
  text-decoration: none;
  color: #c0cdd1;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul#nav li a:hover {
  color: #fdfdfd;
}
ul#nav li a:active {
  background-color: transparent !important;
}
ul#nav li.current a {
  background: #59c2c5;
  color: #fdfdfd;
}

/* 
/* h. Footer Styles
/* =================================================================== */
footer {
  padding-top: 36px;
  padding-bottom: 42px;
  font-size: 13px;
  line-height: 24px;
  position: relative;
  color: #fdfdfd;
  background-color: #12151b;
}
footer a,
footer a:visited {
  color: #59c2c5;
}
footer a:hover,
footer a:focus {
  color: #fdfdfd;
}
footer h3 {
  font: 13px/24px "raleway-bold", sans-serif;
  margin-bottom: 0;
  color: #fdfdfd;
  text-transform: uppercase;
  letter-spacing: 1px;
}
footer p {
  margin: 12px 0;
}

footer .footer-about {
  padding-right: 60px;
}
footer .right-cols .columns {
  width: 50%;
  word-wrap: break-word;
}
footer ul {
  margin: 12px 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  margin: 0;
  padding-left: 0;
  line-height: 24px;
}
footer ul li a,
footer ul li a:visited {
  color: #3c4142;
}
footer .copyright {
  margin: 0;
  padding: 24px 18px 6px 18px;
  clear: both;
}

/* back to top */
footer #go-top {
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 900;
  display: none;
  box-shadow: 0px 0px 3px #687a9d;
}
footer #go-top a {
  display: block;
  padding: 12px 30px;
  background: #59c2c5;
  color: #fdfdfd;
  text-align: center;
  font: 12px/24px "raleway-heavy", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer #go-top a span {
  margin-right: 10px;
}
footer #go-top a:hover {
  background: #f8b20a;
  color: #12151b;
}

/* 
/* i. Common and shared styles
/* =================================================================== */

hr {
  border: solid #59c2c5;
  border-width: 3px 0 0;
  width: 90px;
  margin: 11px auto 15px;
  height: 0;
  clear: both;
  text-align: center;
}

section {
  padding: 40px 0;
  scroll-margin-top: 60px;
}

/* section head
---------------------------------------------------------------------- */
.section-head {
  text-align: center;
}
.section-head h1 {
  font: 15px/24px "raleway-heavy", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #252525;
  margin-bottom: 18px;
}
.section-head h1 span {
  color: #59c2c5;
}
.section-head p {
  font: 18px/36px "merriweather-light", sans-serif;
  width: 95%;
  color: #252525;
  margin-left: auto;
  margin-right: auto;
}

/* 
/* j. Hero
/* =================================================================== */
#hero {
  padding-top: 75px;
  padding-bottom: 10px;
  width: 100%;
  text-align: right;
  position: relative;
}

#hero h1 {
  color: #000;
}

.ie8 #hero {
  background: #12151b;
}

#hero a.contact {
  font-family: "raleway-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 18px 20px;
  margin: 10px 50px;
  text-align: center;
  line-height: 24px;
  display: block;
  border: 3px solid #12151b;
  color: #12151b;
  background: transparent;
}
#hero a.contact:hover {
  color: #fdfdfd;
  background: #12151b;
}

#hero .hero-content {
  margin-right: 10px;
  max-width: 425px;
}

/* 
/*  k. Services
/* =================================================================== */
#services {
  background: #eee9e9;
  text-align: center;
}
.service-list {
  margin: 15px -22px 0 -22px;
}
.service-list .bgrid {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 22px;
}
.service-list .icon-part {
  background: #f8b20a;
  color: #fdfdfd;
  width: 72px;
  padding: 15px 3px;
  font-size: 40px;
  border-radius: 3px;
  margin: 0 auto;
}
.service-list h3 {
  font: 16px/24px "raleway-heavy", sans-serif;
  padding: 0;
}
.service-list p {
  color: #252525;
  position: relative;
  top: -6px;
}

/* 
/*  l. Testimonials
/* =================================================================== */
#testimonials {
  width: 100%;
  overflow: auto;
  position: relative;
}

#testimonials h1,
#testimonials h3,
#testimonials h3 a {
  color: #252525;
}
#testimonials h3 {
  font: 16px/27px "raleway-heavy", sans-serif;
  padding: 0;
  margin: 0;
}
#testimonials h5 {
  font-size: 13px;
  color: #b13a7f;
  margin: 0;
}
#testimonials p {
  color: #252525;
}
#testimonials hr {
  border: solid #b13a7f;
}
#testimonials #testimonials-wrapper {
  margin: 24px 0 0 0;
}
#testimonials #testimonials-wrapper .bgrid {
  padding: 0 18px;
}
#testimonials #testimonials-wrapper article {
  margin-bottom: 24px;
}

/* 
/*  m. Contact
/* =================================================================== */
#contact {
  background: #12151b;
  overflow: hidden;
}

#contact .section-head p {
  color: #fdfdfd;
}
#contact .row {
  max-width: 784px;
}
#contact h1 {
  color: #fdfdfd;
}

/* contact form */
#contact form {
  margin-top: 30px;
}
#contact label {
  font: 14px/30px "raleway-heavy", sans-serif;
  color: #fdfdfd;
}
#contact label span {
  color: #59c2c5;
  display: inline-block;
}
#contact input,
#contact textarea,
#contact select {
  padding: 18px 20px;
  margin-bottom: 42px;
  font-size: 15px;
  width: 100%;
  background: #12151b;
  color: #fdfdfd;
  border: 3px solid #575859;
}
#contact input::placeholder,
#contact textarea::placeholder,
#contact select::placeholder {
  color: #848586;
}
#contact textarea {
  height: 252px;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
  color: #fdfdfd;
  border-color: #fdfdfd;
}
#contact button.submit {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 18px 20px;
  line-height: 24px;
  display: block;
  border: 3px solid #59c2c5;
  color: #59c2c5;
  background: transparent;
}
#contact button.submit:hover {
  color: #fdfdfd;
  background: #59c2c5;
}

/* for ie9 and lower */
.ie #contact label {
  display: block;
}
.ie #contact input,
.ie #contact select {
  margin-bottom: 6px;
}
.ie #contact textarea {
  margin-bottom: 48px;
}

/* messages */
#message-warning,
#message-success {
  display: none;
  background: #252525;
  padding: 24px 24px;
  margin-bottom: 42px;
  border-radius: 3px;
}
#message-warning {
  color: #ff6163;
}
#message-success {
  color: #ffd900;
}
#message-warning i,
#message-success i {
  margin-right: 10px;
}
#image-loader {
  display: none;
  text-align: center;
}
#image-loader img {
  height: 44px;
  width: 44px;
}

/* Style Placeholder Text */
::-webkit-input-placeholder {
  color: #575859;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #575859;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #575859;
}
:-ms-input-placeholder {
  color: #575859;
}
.placeholder {
  color: #575859 !important;
}
