/* =================================================================== */
/* 
/*  Puremedia v1.0 Media Queries
/*  url:styleshout.com
/*  10-10-2014
/*
/* =================================================================== */

/* tablets */
@media only screen and (max-width: 788px) {
  /* header styles */
  header {
    background: #12151b;
  }
  header {
    height: 60px;
  }

  /* mobile navigation */
  #nav-wrap {
    z-index: 991;
    display: block;
    margin-top: 0;
    width: 100%;
    float: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  #nav-wrap > a {
    background: #59c2c5;
    border: none;
    color: #fdfdfd;
    height: 60px;
    min-width: 60px;
    font-size: 12px;
    text-align: left;
    float: right;
    padding: 0;
    position: relative;
  }
  #nav-wrap .menu-text {
    text-transform: uppercase;
    margin-right: 60px;
    padding-left: 20px;
    vertical-align: middle;
    line-height: 60px;
    display: none;
  }
  #nav-wrap .menu-icon {
    display: inline-block;
    width: 20px;
    height: 3px;
    margin-top: -3px;
    position: absolute;
    right: 20px;
    top: 50%;
    bottom: auto;
    left: auto;
    background: #fdfdfd;
  }
  #nav-wrap .menu-icon:before,
  #nav-wrap .menu-icon:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
  }
  #nav-wrap .menu-icon:before {
    bottom: 6px;
  }
  #nav-wrap .menu-icon:after {
    top: 6px;
  }
  #nav-wrap ul#nav {
    background: #262d3a;
    padding: 54px 45px 60px 45px;
    margin: 0;
    height: auto;
    display: none;
    clear: both;
    width: 100%;
    float: none;
    position: relative;
    top: 0;
    right: 0;
  }
  #nav-wrap ul#nav > li {
    display: block;
    float: none;
    height: auto;
    text-align: left;
    border-bottom: 1px dotted #3b4558;
    padding: 6px 0;
  }
  #nav-wrap ul#nav > li:first-child {
    border-top: 1px dotted #3b4558;
  }
  #nav-wrap ul#nav li a {
    display: block;
    width: auto;
    padding: 0;
    padding: 12px 0;
    line-height: 16px;
    border: none;
  }
  #nav-wrap ul#nav li a:hover {
    color: #fdfdfd;
  }
  #nav-wrap ul#nav li.current > a {
    background: none;
    color: #59c2c5;
  }
  .js #nav-wrap a.mobile-btn {
    display: none;
  }
  .js #nav-wrap a#toggle-btn {
    display: block;
  }
  .no-js #nav-wrap:not(:target) > a:first-of-type,
  .no-js #nav-wrap:target > a:last-of-type {
    display: block;
  }
  .no-js #nav-wrap:target ul#nav {
    display: block;
  }

  /* footer styles */
  footer .footer-about {
    padding-right: 25px;
  }
  footer .copyright {
    padding-left: 15px;
    padding-right: 60px;
  }
  footer #go-top {
    right: 0;
  }
  footer #go-top a {
    height: 60px;
    width: 60px;
    line-height: 60px;
    padding: 0;
  }
  footer #go-top a span {
    display: none;
  }
  footer #go-top a i {
    font-size: 16px;
  }

  /* common and shared styles */
  .section-head p {
    width: 100%;
  }
} /* 768 */

/* mobiles */
@media only screen and (max-width: 600px) {
  /* footer styles */
  footer .footer-about {
    padding-right: 10px;
  }
  footer .copyright {
    padding-left: 10px;
  }

  /* common and shared styles */
  .section-head p {
    font: 16px/33px "merriweather-light", sans-serif;
  }

  /* service section */
  .service-list .bgrid {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0 60px;
  }

  /* contact section */
  #contact .form-section {
    padding-left: 40px;
    padding-right: 40px;
  }
} /* 600 */

@media only screen and (max-width: 460px) {
  /*	footer styles */
  footer .right-cols .columns {
    width: 100% !important;
  }

  /* services section */
  .service-list .bgrid {
    padding: 0 22px;
  }

  /* contact section */
  #contact .form-section {
    padding-left: 20px;
    padding-right: 20px;
  }
} /* 460 */

@media only screen and (max-width: 400px) {
  /* footer styles */
  footer .footer-about {
    padding-right: 0;
  }
  footer .copyright {
    padding-left: 0;
  }

  /* contact section */
  #contact .form-section {
    padding-left: 30px;
    padding-right: 30px;
  }
} /* 400 */

/* Mobile First Adjustments */

@media only screen and (min-width: 769px) {
  .hero-content {
    float: right;
  }
  .testimonial-quote-right {
    width: 350px;
    float: left;
  }
  #hero a.contact {
    width: 30%;
    float: right;
    margin-top: 30px;
    clear: right;
  }
  #services {
    clear: both;
  }
  #nav-wrap ul#nav {
    display: block !important;
  }

  .header-inner {
    display: flex;
    width: 100%;
    margin: 0 10px;
    align-content: center;
    justify-content: center;
    max-width: 100%;
  }

  header .logo {
    padding: 17px 0;
    line-height: 38px;
    margin: 0 5px 0 0;
  }

  #hero {
    padding-top: 87px;
  }

  /* hide toggle button */
  #nav-wrap > a {
    display: none;
  }
}

@media only screen and (min-width: 1081px) {
  body {
    background-position: left top;
  }
  header .logo {
    margin: 0 15px 0 0;
  }

  #hero .testimonial-quote-right {
    position: relative;
    left: 0;
    top: 70px;
  }
}

@media only screen and (min-width: 1700px) {
  #hero .testimonial-quote-right {
    top: 170px;
  }
  #hero .hero-content {
    width: 625px;
  }
}
