<div class="row">
  <div class="column">
    <h3>Code</h3>
    <div class="icons">
      <i class="devicon-rails-plain colored"></i>
      <i class="devicon-react-plain colored"></i>
      <img src="/assets/images/graphql.svg" />
    </div>
    <p>Rails is a joy to work with, and I've recently built strong API-only backends that provide tidy data for a smart front-end to consume and display. In a prior position, I built an entire API on GraphQL with no REST API underneath, to spectacular effect. I've worked with Angular and React, and toyed with Redux a bit.  I helped build and maintain a Node.js app that gave me an interesting perspective on using Javascript for object-oriented programming.  I'm confident using Sass and can code in raw HTML and CSS should the need arise.  Given the choice of database, I'd choose Postgres, but I've worked extensively with MySQL.  I also have experience maintaining legacy Rails & PHP apps.</p>
  </div>
  <div class="column">
    <h3>Tools</h3>
    <div class="icons">
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-amazonwebservices-original colored"></i>
    </div>
    <p>I'm a devoted acolyte of Continuous Integration/Continuous Deployment, and automated deploys. I evangelize a well-maintained CI deployment setup, where ops has better things to do than man-handle every deploy. I've dockerized complicated Rails/React apps and created an <a href="https://github.com/katelovescode/dockerized-create-react-native-app">open-source dockerized React Native app</a> for developers to use as a template for spinning up new React Native apps in a containerized environment.  Engineers should have autonomy and trust when deploying to their environments, so a straightforward deployment process with well-considered rollback plans is a must.</p>
  </div>
  <div class="column">
    <h3>Values</h3>
    <p>I co-founded a grassroots diversity initiative, Jellyvision Women in Tech, at a previous employer. I helped to obtain funding for my coworkers to attend conferences for professional development, and I've acted as an ambassador for my companies in the tech community. I excel in leadership positions and mentor my fellow engineers. I live for pair programming and shared efforts. I work to establish and maintain transparency wherever I can. Cross-functional teams are essential for success, and I have spearheaded those efforts.  I'm turning my focus to user-driven development and civic tech. I've initiated process improvement efforts on my team, in my department, and across the company in every position I've held.</p>
  </div>
</div>