<div class="container">
  <div class="user-details">
    <h3>Experience</h3>
  </div>
  <div class="row user-experience">
    <div class="twelve columns">
      <div class="experience-header">
        <h4>Product Engineer</h4>
        <p>Jellyvision Lab, Inc. | Jul 2016 - Present | Chicago, IL</p>
      </div>
      <div>I work on the internal software that helps my fellow Jellyfolk support our ALEX users. My team's apps configure huge swaths of data to ensure end users get accurate information about their benefits, and help non-technical folks deploy conversations for our clients by providing a front-end to a continuous integration back-end.<br /><br />I spend most of my days:</div>
      <ul>
        <li>shipping a gorgeous NodeJS app</li>
        <li>adding new functionality to our Rails powerhouse</li>
        <li>tinkering with our Angular and React front-end experiences</li>
        <li>maintaining legacy apps using PHP and JS</li>
        <li>developing deep and lasting friendships inside and outside my team</li>
        <li>spearheading some internal diversity initiatives as a cofounder of the Women in Tech group</li>
        <li>working to represent the company out in the community</li>
        <li>keeping my eye on the "senior engineer" prize</li>
      </ul>
      <div>Other neat projects:</div>
      <ul>
        <li>Developed a bootstrapper for my team to quickly onboard new team members by installing the required software</li>
        <li>Helped develop ticket templates to streamline our issue tracking</li>
        <li>Implemented various process improvement steps in our team's workflow (and abandoned a couple failed experiments on the way)</li>
      </ul>
    </div>
  </div>
  <div class="row user-experience">
    <div class="twelve columns">
      <div class="experience-header">
        <h4>Software Engineer</h4>
        <p>The MIS Department, Inc. | Jul 2014 - Jul 2016 | Chicago, IL</p>
      </div>
      <ul>
        <li>Wrangled APIs by writing clean code and harnessing Rails' MVC organizational structure</li>
        <li>Styled and manipulated 3rd party CMS systems using clever JS and jQuery</li>
        <li>Served small content needs by developing lightweight and elegant static sites</li>
        <li>Managed PHP-based CMS systems like Wordpress with clever use of version-controlled code and plugins</li>
        <li>Determined the best and most efficient software and project management solutions by communicating with my team to explore options based on our available work-hours and skillset</li>
        <li>Advised the strategic branch of the organization on ways to improve efficiency, develop long-term strategy, and clarify roles and responsibilities</li>
        <li>Assisted the Vice President of the company in successfully rolling out organizational and role changes to handle a shifting customer base and project load</li>
      </ul>
    </div>
  </div>
  <div class="row user-experience">
    <div class="twelve columns">
      <div class="experience-header">
        <h4>Freelance Web Developer</h4>
        <p>Mar 2011 - Aug 2014 | Greater Chicago Area, IL</p>
      </div>
      <div>In this role I helped non-technical clients establish a web presence by:</div>
      <ul>
        <li>Developing new sites in WordPress by hand-coding PHP and modifying available templates</li>
        <li>Advising clients on graphic design and branding</li>
        <li>Refactoring existing sites to allow for client content management by porting systems to WordPress</li>
      </ul>
    </div>
  </div>
</div>
