<div class="container">
  <div class="experience">
    <div class="experience-header">
      <div class="job-title">Senior Full-Stack Software Engineer</div>
      <div>The Mom Project | Apr 2018 - Present | Chicago, IL</div>
    </div>
    <div>Since starting at the Mom Project, I have streamlined essential engineering functions:</div>
    <ul>
      <li>implemented a clear, iterative development process</li>
      <li>rolled out a bug report/feature request process for staff</li>
      <li>enacted a feature planning lifecycle based on user-focused product development</li>
      <li>initiated department meetings for transparency in hiring and product milestone planning</li>
    </ul>
    <div>I'm currently rearchitecting our existing application onto a more modern platform, using Rails 5, React, and Postgres. As a part of this process, I:</div>
    <ul>
      <li>dockerized the app for consistency of local development environments and simplification of deployment</li>
      <li>integrated AWS Cognito with Rails to leverage a robust authentication system to safeguard user information</li>
      <li>automated the testing and deployment process using CircleCI and Github</li>
      <li>planned and oversaw the implementation of containerized deployment through ECS using CloudFormation</li>
      <li>built a fully-featured REST API using Rails 5's API-only capabilities</li>
    </ul>
    <div>I'm also redesigning the data model in order to streamline queries and data handling:</div>
    <ul>
      <li>normalized data</li>
      <li>shedded unnecessary data collection</li>
      <li>offloaded some internal data processes to third-party proven services to simplify in-house data maintenance</li>
    </ul>
  </div>
  <div class="experience">
    <div class="experience-header">
      <div class="job-title">Software Engineer</div>
      <div>Jellyvision Lab, Inc. | Jul 2016 - Mar 2018 | Chicago, IL</div>
    </div>
    <ul>
      <li>built a greenfield Rails and React app that provided useful information about financial decisions to end users</li>
      <li>maintained the internal app that configured huge swaths of data to ensure end users got accurate information about their benefits</li>
      <li>added features to an internal portal that helped non-technical folks deploy conversations through continuous integration</li>
      <li>encouraged my team to give GraphQL a shot, and drove the development of our GraphQL environment, which paid off for our product</li>
      <li>shipped a gorgeous NodeJS app</li>
      <li>added new functionality to our existing Rails powerhouse</li>
      <li>tinkered with our Angular and React front-end experiences</li>
      <li>maintained legacy apps using PHP & JS</li>
      <li>spearheaded some internal diversity initiatives as a cofounder of the Women in Tech group</li>
      <li>acted as company liaison and sponsor to a coding club for high school women</li>
      <li>represented the company out in the community at various events, conferences and workshops</li>
    </ul>
  </div>
  <div class="experience">
    <div class="experience-header">
      <div class="job-title">Software Engineer</div>
      <div>The MIS Department, Inc. | Jul 2014 - Jul 2016 | Chicago, IL</div>
    </div>
    <ul>
      <li>Wrangled APIs by writing clean code and harnessing Rails' MVC organizational structure</li>
      <li>Styled and manipulated 3rd party CMS systems using clever JS and jQuery</li>
      <li>Served small content needs by developing lightweight and elegant static sites</li>
      <li>Managed PHP-based CMS systems like Wordpress with clever use of version-controlled code and plugins</li>
      <li>Determined the best and most efficient software and project management solutions by communicating with my team to explore options based on our available work-hours and skillset</li>
      <li>Advised the strategic branch of the organization on ways to improve efficiency, develop long-term strategy, and clarify roles and responsibilities</li>
      <li>Assisted the Vice President of the company in successfully rolling out organizational and role changes to handle a shifting customer base and project load</li>
    </ul>
  </div>
  <div class="experience">
    <div class="experience-header">
      <div class="job-title">Freelance Web Developer</div>
      <div>Mar 2011 - Aug 2014 | Greater Chicago Area, IL</div>
    </div>
    <ul>
      <li>Developing new sites in WordPress by hand-coding PHP and modifying available templates</li>
      <li>Advising clients on graphic design and branding</li>
      <li>Refactoring existing sites to allow for client content management by porting systems to WordPress</li>
    </ul>
  </div>
</div>
