<nav>
    <div id="menuToggle">
      <input type="checkbox" id="menuIcon" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a class="nav-item" href="#about"><li>About</li></a>
        <a class="nav-item" href="#experience"><li>Experience</li></a>
        <a class="nav-item" href="#contributions"><li>Contributions</li></a>
        <a class="nav-item" href="#contact"><li>Contact</li></a>
      </ul>
    </div>
  </nav>
<header class="site-header" role="banner">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds">
    <div class="header-image"><img src="/assets/images/headshot.jpg" /></div>
    <div class="header-text">
      <div class="title">Kate Donaldson</div>
      <div class="subtitle">Senior Full-Stack Software Engineer</div>
    </div>
  </div>
</header>
