<a name="top"></a>
<nav>
  <ul id="menu">
    <li><a class="nav-item" href="#top">&#11014;</a></li>
    <li><a class="nav-item" href="#about">About</a></li>
    <li><a class="nav-item" href="#experience">Experience</a></li>
    <li><a class="nav-item" href="#contributions">Contributions</a></li>
    <li><a class="nav-item" href="#contact">Contact</a></li>
  </ul>
</nav>
<header class="site-header" role="banner">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds">
    <div class="header-image"><img src="/assets/images/headshot.jpg" /></div>
    <div class="header-text">
      <div class="title">Kate Donaldson</div>
      <div class="subtitle">Senior Full-Stack Software Engineer</div>
    </div>
  </div>
</header>
